<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Advanced</title>
    <base href="/">
    <link rel="stylesheet"  type="text/css" href="css/styles.css">
    </base></head>
<body>

<div class="topnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/simple}">Simple</a>
    <a class="active" th:href="@{/advanced}">Advanced</a>
    <a th:href="@{/simpleInterest}">Simple Interest</a>
    <a th:href="@{/compoundInterest}">Compound Interest</a>
</div>

<h1>Advanced</h1>

<div class="calc">
<form  th:action="@{/advanced}" th:object="${calculatorModel}" method="POST">

<input type="text" th:field="*{c}"/>
<p>
    <input type="submit" class="button" name="fibonacci" value="fib"/>
    <input type="submit" class="button" name="factorial" value="!"/>
    <input type="submit" class="button" name="sqrt" value=&#8730 />
    <input type="submit" class="button" name="power" value="^"/>
    <input type="submit" class="button" name="clearAdvanced" value="C"/>
</p>

<h2><p th:text="'Result: ' + ${result}"/></h2>

</form>
</div>

</body>
</html>