<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Advanced</title>
    <base href="/">
    <link rel="stylesheet"  type="text/css" href="css/styles.css">
    </base></head>
<body>
<div class="calc">
<div class="topnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/simple}">Simple</a>
    <a class="active" th:href="@{/advanced}">Advanced</a>
    <a th:href="@{/simpleInterest}">Simple Interest</a>
    <a th:href="@{/compoundInterest}">Compound Interest</a>
    <a th:href="@{/quadraticEquation}">Quadratic Equation</a>
</div>

<h1>Advanced</h1>


<form  th:action="@{/advanced}" th:object="${calculatorModel}" method="POST">
<table>
    <th><input type="text" th:field="*{variableC}"/></th>
    <th></th>
</table>
<p>
    <input type="submit" class="button" name="fibonacci" value="fib"/>
    <input type="submit" class="button" name="factorial" value="!"/>
    <input type="submit" class="button" name="sqrt" value=&#8730 />
    <input type="submit" class="button" name="power" value="^"/>
    <input type="submit" class="button" name="clearAdvanced" value="Clear"/>
</p>

<h2><p th:text="${result}"/></h2>

</form>
</div>

</body>
</html>