<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Compound Interest</title>
    <base href="/">
    <link rel="stylesheet"  type="text/css" href="css/styles.css">
    </base>
</head>
<body>
<div class="calc">
<div class="topnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/simple}">Simple</a>
    <a th:href="@{/advanced}">Advanced</a>
    <a th:href="@{/simpleInterest}">Simple Interest</a>
    <a class="active" th:href="@{/compoundInterest}">Compound Interest</a>
    <a th:href="@{/quadraticEquation}">Quadratic Equation</a>
</div>

<h1>Compound interest</h1>


<form  th:action="@{/compoundInterest}" th:object="${calculatorModel}" method="POST">
    <table>
        <tr>
            <th><label for="investment">Initial Investment</label></th>
            <th><input type="text" id="investment" name="investment" th:field="*{p}"></th>
        </tr>
        <tr>
            <th><label for="rate">Interest rate</label></th>
            <th><input type="text" id="rate" name="rate" th:field="*{r}"></th>
        </tr>
        <tr>
            <th><label for="years">Years</label></th>
            <th><input type="text" id="years" name="years" th:field="*{t}"></th>
        </tr>
        <tr>
            <th><label for="deposit">Yearly deposit (optional)</label></th>
            <th><input type="text" id="deposit" name="deposit" th:field="*{d}"></th>
        </tr>
        <tr>
            <th><label for="number">Times interest is compounded per year</label></th>
            <th><input type="text" id="number" name="number" th:field="*{n}"></th>
        </tr>

        <tr>
             <th></th>
            <th>
                <input type="submit" class="button" value="Calculate">
                <input type="submit" class="button" name="clearCompoundInterest" value="Clear"/>
            </th>
        </tr>
    </table>

    <h2><p th:text="${totalBalance}"/></h2>
    <h2><p th:text="${totalDeposit}"/></h2>
    <h2><p th:text="${accruedInterest}"/></h2>


</form>
</div>
</body>
</html>