<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Quadratic Equation</title>
  <base href="/">
  <link rel="stylesheet"  type="text/css" href="css/styles.css">
  </base>
</head>
<body>
<div class="calc">

  <div class="topnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/simple}">Simple</a>
    <a th:href="@{/advanced}">Advanced</a>
    <a th:href="@{/simpleInterest}">Simple Interest</a>
    <a th:href="@{/compoundInterest}">Compound Interest</a>
    <a class="active" th:href="@{/quadraticEquation}">Quadratic Equation</a>
  </div>

  <h1>Quadratic Equation</h1>

  <h1> Enter A,B and C if Ax^2+Bx+C=0</h1>


  <form  th:action="@{/quadraticEquation}" th:object="${calculatorModel}" method="POST">
    <table>
      <tr>
        <th><label for="variableA">A- </label></th>
        <th><input type="text" id="variableA" name="variableA" th:field="*{variableA}"></th>
      </tr>
      <tr>
        <th> <label for="variableB">B- </label></th>
        <th><input type="text" id="variableB" name="variableB" th:field="*{variableB}"></th>
      </tr>
      <tr>
        <th><label for="variableC">C- </label></th>
        <th><input type="text" id="variableC" name="variableC" th:field="*{variableC}"></th>
      </tr>
      <tr>
        <th></th>
        <th>
          <input type="submit" class="button" value="Calculate">
          <input type="submit" class="button" name="clearQuadraticEquation" value="Clear"/>
        </th>
      </tr>
    </table>

    <h2><p th:text="${message}"/></h2>
    <h2><p th:text="${Discriminant}"/></h2>
    <h2><p th:text="${RootOne}"/></h2>
    <h2><p th:text="${RootTwo}"/></h2>

  </form>
</div>
</body>
</html>