<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Simple</title>
    <base href="/">
    <link rel="stylesheet"  type="text/css" href="css/styles.css">
    </base>
</head>
<body>
<div class="calc">
<div class="topnav">
    <a th:href="@{/}">Home</a>
    <a class="active" th:href="@{/simple}">Simple</a>
    <a th:href="@{/advanced}">Advanced</a>
    <a th:href="@{/simpleInterest}">Simple Interest</a>
    <a th:href="@{/compoundInterest}">Compound Interest</a>
    <a th:href="@{/quadraticEquation}">Quadratic Equation</a>
</div>


<h1>Simple</h1>


<form  th:action="@{/simple}" th:object="${calculatorModel}" method="POST">
    <table>
        <th><input type="text" th:field="*{variableA}"/></th>
        <th></th>
        <th><input type="text" th:field="*{variableB}"/></th>
        <th></th>
    </table>
    <p>
        <input type="submit" class="button" name="add" value="+"/>
        <input type="submit" class="button" name="subtract" value="-"/>
        <input type="submit" class="button" name="multiply" value="*"/>
        <input type="submit" class="button" name="divide" value="/"/>
        <input type="submit" class="button" name="clearSimple" value="Clear"/>
    </p>

    <h2><p th:text="${result}"/></h2>

</form>
</div>
</body>
</html>